# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments / local config
venv/
.env
.python-version

# Django
db.sqlite3
*.sqlite3
media/
staticfiles/
static/admin/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db